<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
          <img src="/assets/growth.png" width="30" height="30" class="d-inline-block align-top" alt="">
          Simply Bank
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                <a class="nav-link" [routerLinkActive]="['active']" routerLink="account">Account <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" [routerLinkActive]="['active']" routerLink="transaction">Transaction</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" [routerLinkActive]="['active']" routerLink="statement">Statement</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                    <a class="btn btn-outline-light" [routerLinkActive]="['active']" routerLink="login">Login</a>

                    <span class="userlink">&nbsp;&nbsp;&nbsp;Hello, User!&nbsp;&nbsp;&nbsp;</span>
                    <a class="btn btn-outline-light" [routerLinkActive]="['active']" routerLink="logout">Logout</a>
            </form>
        </div>
      </nav>
<router-outlet></router-outlet>
