<div class="jumbotron">
  <h1 class="display-4">Transaction statement</h1>
  <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="form-group">
      <label for="InputAccountNum">Account number
        <small style="color:red;">{{errMsgAcct}}</small>
      </label>
      <div class="input-group">
        <select [(ngModel)]="acct_no" required name="acct_no" class="custom-select" id="InputAccountNum">
          <option value="" selected>Choose...</option>
          <option *ngFor="let acc of accounts;" [ngValue]="acc" [value]="acc.acct_no">{{acc.acct_no}} - {{acc.acct_name}} (Current balance:{{acc.current_bal}}$)</option>
        </select>
      </div>
      <small id="emailHelp" class="form-text text-muted">Please choose the one of your accounts!</small>
    </div>
    <div class="form-group">
      <mat-form-field class="col-md-6">
        <input matInput [matDatepicker]="picker1" placeholder="From date" name="from_date" [(ngModel)]="from_date" required>
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="col-md-6">
        <input matInput [matDatepicker]="picker2" placeholder="To date" name="to_date" [(ngModel)]="to_date" required>
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>

    </div>
    <input type="submit" [disabled]="!f.valid" class="btn btn-outline-info" value="Search" />
  </form>
  <hr class="my-4">

  <div class="justify-content-md-center">

    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" mao class="mat-elevation-z8">

      <ng-container matColumnDef="_id">
        <th mat-header-cell *matHeaderCellDef> Tran No. </th>
        <td mat-cell *matCellDef="let element"> {{element._id}} </td>
      </ng-container>

      <ng-container matColumnDef="tran_date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.tran_date | date}} </td>
      </ng-container>

      <ng-container matColumnDef="tran_type">
        <th mat-header-cell *matHeaderCellDef> Transaction type </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.tran_type=='t'" class="badge badge-pill badge-primary">Transfer</span>
          <span *ngIf="element.tran_type=='D'" class="badge badge-pill badge-success">Deposit</span>
          <span *ngIf="element.tran_type=='W'" class="badge badge-pill badge-warning">Withdraw</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="from_acct_no">
        <th mat-header-cell *matHeaderCellDef> From account no. </th>
        <td mat-cell *matCellDef="let element"> {{element.from_acct_no}} </td>
      </ng-container>

      <ng-container matColumnDef="to_acct_no">
        <th mat-header-cell *matHeaderCellDef> To account no. </th>
        <td mat-cell *matCellDef="let element"> {{element.to_acct_no}} </td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> Amount </th>
        <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>