<div class="jumbotron">
  <h1 class="display-4">Customers</h1>
  <hr class="my-4">
  <div>
    <a [routerLink]="['../custdetail']">
      <button class="btn btn-success"> Add Customer</button>
    </a>
  </div>
  <div>
    <mat-form-field style="width: 100%">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
  <div class="row justify-content-md-center">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="cust_no">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let cust"> {{cust.cust_no}} </td>
      </ng-container>

      <ng-container matColumnDef="first_name">
        <th mat-header-cell *matHeaderCellDef> First Name </th>
        <td mat-cell *matCellDef="let cust"> {{cust.first_name}} </td>
      </ng-container>

      <ng-container matColumnDef="last_name">
        <th mat-header-cell *matHeaderCellDef> Last Name </th>
        <td mat-cell *matCellDef="let cust"> {{cust.last_name}} </td>
      </ng-container>

      <ng-container matColumnDef="date_of_birth">
        <th mat-header-cell *matHeaderCellDef> Birth Date </th>
        <td mat-cell *matCellDef="let cust"> {{cust.date_of_birth | date}} </td>
      </ng-container>

      <ng-container matColumnDef="detail">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let cust">
          <a [routerLink]="['../custdetail',cust.cust_no]">Detail</a>
        </td>
      </ng-container>
      <ng-container matColumnDef="accounts">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let cust">
          <a [routerLink]="['../account',cust.cust_no]">Accounts</a>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>

<!-- <div class="container">
  <div class="justify-content-md-center">
    <h2>Customers</h2>
    <div>
      <a [routerLink]="['../custdetail']">
        <button class="btn btn-success"> Add Customer</button>
      </a>
    </div>
    <table class="table table-dark table-striped table-hover">
      <tr>
        <th>Customer No</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Birth Date</th>
        <th></th>
        <th></th>
      </tr>
      <tr *ngFor="let cust of customers">
        <td>{{cust.cust_no}}</td>
        <td>{{cust.first_name}}</td>
        <td>{{cust.last_name}}</td>
        <td>{{cust.date_of_birth}}</td>
        <td>
          <a [routerLink]="['../custdetail',cust.cust_no]">Detail</a>
        </td>
        <td>
          <a [routerLink]="['../account',cust.cust_no]">Account</a>
        </td>
      </tr>
    </table>
  </div>
</div>

 -->