<div class="jumbotron">
  <h1 class="display-4">Your accounts</h1>
  <hr class="my-4">
  <div class="row justify-content-md-center">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="acct_no">
        <th mat-header-cell *matHeaderCellDef> Account No. </th>
        <td mat-cell *matCellDef="let element"> {{element.acct_no}} </td>
      </ng-container>

      <ng-container matColumnDef="acct_name">
        <th mat-header-cell *matHeaderCellDef> Account Name </th>
        <td mat-cell *matCellDef="let element"> {{element.acct_name}} </td>
      </ng-container>

      <ng-container matColumnDef="acct_status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.acct_status}} </td>
      </ng-container>

      <ng-container matColumnDef="current_bal">
        <th mat-header-cell *matHeaderCellDef> Current balance </th>
        <td mat-cell *matCellDef="let element"> {{element.current_bal}}$ </td>
      </ng-container>

      <ng-container matColumnDef="acct_type">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.acct_type=='checking'" class="badge badge-pill badge-primary">{{element.acct_type}}</span>
          <span *ngIf="element.acct_type=='saving'" class="badge badge-pill badge-success">{{element.acct_type}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="statement">
        <th mat-header-cell *matHeaderCellDef> Operations </th>
        <td mat-cell *matCellDef="let element">
          <button class="btn btn-outline-warning" (click)="navigateStatement(element.acct_no)">View statement&nbsp;></button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>